body{
    font-size: 14px;
}
#formulari-hores {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
#formulari-importacio {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#taula-registres {
    max-width: 1280px;
    margin: 0 auto;
}

#taula-registres tr .form-control:not(input) {
	padding: 6px 0;
}
#taula-registres tr input {
	padding: 6px 5px;
}
.accions span{
    cursor: pointer;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.footer-content{
	text-align: center;
	padding: 10px;
}

#formulari-hores #camp-hora-inici{

}

#formulari-hores #camp-hora-fi{
	
}

#formulari-hores #camp-client{
	
}

#formulari-hores #camp-descripcio{
	
}

#formulari-hores #camp-boto-formulari{
	margin-top: 25px;
}
#formulari-hores #missatge-error{
    margin-top: 20px;
}
#formulari-hores #missatge-error span{
    color: red;
}

#taula-registres tbody.loading tr{
	display: none;
}

.loading:after {
	content: "";
	background-image: url("../img/loader.gif");
	background-position: center;
	background-size: 250%;
	width: 50px;
	height: 50px;
	display: block;
}


.enviar-registre-opcions{
    position: relative;
    width: 0;
    height: 0;
    font-size: 1.3em;
}

.enviar-registre-opcions .opcions {
    position: absolute;
    background: #fff;
    top: 5px;
    left: -7px;
    border: 1px solid #aaa;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.enviar-registre-opcions .opcions:after {
    bottom: 100%;
    right: -1px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(79, 213, 64, 0);
    border-bottom-color: #aaa;
    border-width: 10px;
}

.enviar-registre-opcions .opcions span{
    padding: 10px;
    top: 0;
}
.enviar-registre-opcions .opcions span:hover{
    background-color: #aaa;
}

