body{
    font-size: 14px;
}
#formulari-hores {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#taula-registres {
    max-width: 1280px;
    margin: 0 auto;
}

#taula-registres tr .form-control:not(input) {
	padding: 6px 0;
}
#taula-registres tr input {
	padding: 6px 5px;
}
.accions span{
    cursor: pointer;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.footer-content{
	text-align: center;
	padding: 10px;
}

#formulari-hores #camp-hora-inici{

}

#formulari-hores #camp-hora-fi{
	
}

#formulari-hores #camp-client{
	
}

#formulari-hores #camp-descripcio{
	
}

#formulari-hores #camp-boto-formulari{
	margin-top: 25px;
}
#formulari-hores #missatge-error{
    margin-top: 20px;
}
#formulari-hores #missatge-error span{
    color: red;
}

#taula-registres tbody.loading tr{
	display: none;
}

.loading:after {
	content: "";
	background-image: url("../img/loader.gif");
	background-position: center;
	background-size: 250%;
	width: 50px;
	height: 50px;
	display: block;
}